.home_main{
    width: 90%;
    margin: 0px auto 0px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid red;
}
.home_div_one{
    width: 50%;
    height: 700px;
}
.home_div_one>img{
    width: 100%;
    height: 100%;
}
.home_div_two{
    width: 50%;
    height: 700px;
}
.select_city_div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
